{% extends'base.html' %}
{% load static %}
{% block title %}payments{% endblock title %}

{% block content %}
<h2>Make a Payment</h2>

<form method="post" action="{% url 'stk' %}">

  {% csrf_token %}

    <label for="phone" class="form-label">Phone Number :</label>

    <input class="form-control" type="number" id="phone" name="phone" value="254" placeholder="Phone Number">

    <br><br>

    <label for="amount">Amount :</label>

    <input class="form-control" type="text" id="amount" name="amount" placeholder="Amount">

    <br><br>

  <button type="submit" class="btn btn btn-success">Submit</button>

</form>
{% endblock content %}